<!DOCTYPE html>
<html ng-app="Huuphuc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../lib/angularjs.min.js"></script>
    <script src="../js/controller.js"></script>
    <title>controller nâng cao với bingding(sự ràng buộc giữa đố tượng và view hiển thị)</title>
</head>
<body ng-controller="Huuphuc_4">
    <div>
            first name: <input type="text" ng-model="tennv.FirstName"><br/>
            last name: <input type="text" ng-model="tennv.LastName"><br/>
            gender: <input type="text" ng-model="tennv.Gender"><br/>
    </div>
    <br/>
    <br/>
    <div>
        first name: {{tennv.FirstName}}<br/>
        last name: {{tennv.LastName}}<br/>
        gender: {{tennv.Gender}}<br/><br/>
</div>
</body>
</html>